# Virtual Environment
venv/
env/
ENV/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Audio Files (ukuran besar & privasi rapat)
*.mp3
*.wav
*.opus
*.m4a
*.flac
*.aac
*.ogg

# Hasil Output Transkripsi
*_transkripsi.txt
*_jernih.wav
*_ringkasan.md

# Hugging Face & Model Cache
models/
.cache/

# IDE & Editor
.vscode/
.idea/

# Sistem Operasi
Thumbs.db
Desktop.ini
.DS_Store
